@font-face {
  font-family:siteFont;
  src: url('Salted Monthoers.ttf');
}

*{
	font-family:siteFont;
}

a {color:black;}

#title{
	font-size:80px;
}




.item1 { grid-area: header; 
text-align:center;
}
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'footer footer footer footer footer footer';
  grid-gap: 10px;
  background-color: none;
  padding: 10px;
}


/* //navbar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* width: 300px; */
  background-color: none;
}

li a {
  display: block;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #4CAF50;
  color: white;
}

li a:hover:not(.active) {
  background-color: none;
  color: #66ff66;
}



body{
	background-color :none;}
	
	#imgFront{
    max-width: 100%;
    height: auto;
	width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
	
}

/* .mySlides {display: none} */

/* #prima{display:block;} */


/* .mySlides img{ */
/* width:45%; */
/* height:auto; */
/* } */


.imgContainer{
	list-style-type:none;
}

.imgContainer li{
	
	float:left;
}


.imgContainer img{
  object-fit: cover;
  width: 300px; 
  height: 300px;
}

.carSlides{
	float:left;
	
}






#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {
  opacity: 0.7;
}

/* .modal { */
  /* display: none; */
  Hidden by default
  /* position: fixed; */
  Stay in place
  /* z-index: 1; */
  Sit on top
  /* padding-top: 100px; */
  Location of the box
  /* left: 0; */
  /* top: 0; */
  /* width: 100%; */
  Full width
  /* height: 100%; */
  Full height
  /* overflow: auto; */
  Enable scroll if needed
  /* background-color: rgb(0, 0, 0); */
  Fallback color
  /* background-color: rgba(0, 0, 0, 0.9); */
  Black w/ opacity
/* } */

/* .modal-content { */
  /* margin: auto; */
  /* display: block; */
  /* width: 30%; */
  /* max-width: 600px; */
/* } */

/* #caption { */
  /* margin: auto; */
  /* display: block; */
  /* width: 80%; */
  /* max-width: 700px; */
  /* text-align: center; */
  /* color: #ccc; */
  /* padding: 10px 0; */
  /* height: 150px; */
/* } */

/* .modal-content, */
/* #caption { */
  /* animation-name: zoom; */
  /* animation-duration: 0.6s; */
/* } */

/* @keyframes zoom { */
  /* from { */
    /* transform: scale(0) */
  /* } */
  /* to { */
    /* transform: scale(1) */
  /* } */
/* } */

/* .close { */
  /* position: absolute; */
  /* top: 15px; */
  /* right: 35px; */
  /* color: #f1f1f1; */
  /* font-size: 40px; */
  /* font-weight: bold; */
  /* transition: 0.3s; */
/* } */

/* .arrows{ */
	 /* color: #f1f1f1;    */
      	/* cursor: pointer; */
/* } */

/* .prev{ */
/* position:absolute; */
	/* left:10px; */
	/* top:50%;	 */
	
/* } */

/* .next{ */
	/* position:absolute; */
	/* right:10px; */
	/* top:50%; */
	
/* } */

/* .close:hover, */
/* .close:focus { */
  /* color: #bbb; */
  /* text-decoration: none; */
  /* cursor: pointer; */
/* } */

/* @media only screen and (max-width: 700px) { */
  /* .modal-content { */
    /* width: 100%; */
  /* } */
/* } */











































































































































