@font-face {
  font-family:siteFont;
  /* src: url('Salted Monthoers.ttf'); */
  src: url('alternate-gothic-no1-d.ttf');
}

*{
	font-family:siteFont;
}

a {color:black;}

#title{
	font-size:80px;
}




.item1 { grid-area: header; 
text-align:center;
}
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'footer footer footer footer footer footer';
  grid-gap: 10px;
  background-color: none;
  padding: 10px;
}

#gridHome{
	grid-template-areas:
    'header main main main right right'
    'menu main main main right right'
    'footer footer footer footer footer footer';
	
}


/* //navbar */
.item2 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* width: 300px; */
  background-color: none;
  font-size: 25px;
}

 .item2 li a {
  display: block;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}

.item2 li a.active {
  background-color: #4CAF50;
  color: white;
}

 .item2 li a:hover:not(.active) {
  background-color: none;
  color: #66ff66;
}



body{
	background-color :none;}
	
#imgFront{
    max-width: 100%;
    height: auto;
	width: 65%;
    display: block;
    margin-left: auto;
    margin-right: auto; 
	
}


.imgContainer{
	list-style-type:none;
}

.imgContainer li{
	
	float:left;
}


.imgContainer img{
  object-fit: cover;
  width: 300px; 
  height: 300px;
}

.carSlides{
	float:left;
	
}



#myImg {
  /* border-radius: 5px; */
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {
  opacity: 0.7;
}

.modal-header{
	border-bottom:none;
	
}

.sub{padding: 8px 10px;}



/* mobile navigation */

.topnav{display:none;}
@media only screen and (max-device-width : 640px) {

.item2{display:none;}
.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
  display:block;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #4CAF50;
  color: white;
}

}
/* end mobile navigation */






























































































































