.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
  grid-gap: 10px;
  background-color: none;
  padding: 10px;
}


/* //navbar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 300px;
  background-color: none;
}

li a {
  display: block;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #4CAF50;
  color: white;
}

li a:hover:not(.active) {
  background-color: none;
  color: #66ff66;
}



body{
	background-color :none;}
	
	#imgFront{
    max-width: 100%;
    height: auto;
	width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
	
}

.mySlides {display: none}

#prima{display:block;}


.mySlides img{
width:45%;
height:auto;
}

















































































































































